.invit-banner
{
	background: url(invite.jpg) no-repeat center;
	color:#ffffff;
	text-align: center;
	height: 300px;
	background-size: cover;
padding-top: 72px;

}
.invit-banner h1
{
	margin-top:30px;
	padding-top: 125px;
}
.credit-content 
{
	font-size:17px;
	margin: 30px 0px;
}
.visit-container
{
	width:70%;
	margin: auto;
}
.invite-mail
{
	
}
.invite-mail a:focus
{
	color: #ffffff;
	text-decoration: none;
}
.invite-send
{
	border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    width: 80px;
    text-align: center;
    font-size: 16px;
}
.invite-sendfb
{
	border-color: #3B5998;
    border-bottom-color: #263a63;
    background-color: #3B5998;
    color: #ffffff;
    padding: 7px 10px;
    position: absolute;
    width: 125px;
    text-align: center;
    font-size: 16px;
}
.invite-sendfb:hover
{
	text-decoration: none;
color: #ffffff;

}
.invite-send:hover
{
text-decoration: none;
color: #ffffff;
background: #;
}
.input-field
{
	width: 80%;
	position: relative;
	height: 36px;
	border: 1px solid #c4c4c4;

	border-right:none; 

}
.input-field1
{
	width: 70%;
	position: relative;
	height: 36px;
	border: 1px solid #c4c4c4;

	border-right:none; 

}
.input-field:focus
{
border: 1px solid #c4c4c4;
}
.clear
{
	clear: both;
}
.input-field,.input-field1::-webkit-input-placeholder {
  
    font-size: 16px;
   font-weight: normal;
   padding: 5px 0px 0px 10px;
}

.input-field,.input-field1:-moz-placeholder { /* Firefox 18- */
  
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0px 0px 10px;
}

.input-field,.input-field1::-moz-placeholder {  /* Firefox 19+ */
  
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0px 0px 10px;
}

.input-field,.input-field1:-ms-input-placeholder {  
  
     font-size: 16px;
    font-weight: normal;
    padding: 5px 0px 0px 10px;
}
.invite-tweeter
{
    color:#565a5c;
	font-size: 16px;
	padding-left: 5px;
}
.credit-point
{
	margin-top: 50px;
	font-size: 30px;
	color:#565a5c;
}

.pic11{
    width:120px;
    height:120px;
    border:2px solid #f2f2f2;
    border-radius: 50%;
    padding:5px;
    margin: 0 auto 25px;
}
.pic11 img{
    width: 100%;
    height: auto;
    border-radius:50%;
}


.btn-pri.btn {
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
}


.cont
{
    padding: 5px 0px 10px 119px;
}

.ptxt
{
font-size: 16px;
}